body .swal2-popup {
  border-radius: 0.9375rem;
  padding: 0;
}

body .swal2-popup.swal2-sm {
  max-width: 18.75rem;
}

body .swal2-title {
  padding: 1.25rem 0.75rem 0.5rem 0.75rem;
  line-height: 1.5;
  font-size: 1rem;
}

body .swal2-warning .swal2-title {
  color: #ffcd04;
}

body .swal2-danger .swal2-title {
  color: #ff4376;
}

body .swal2-close {
  position: absolute;
  top: 4px;
  right: 4px;
  opacity: 0.5;
  background: transparent
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
    center/1em auto no-repeat;
  padding: 1rem 1rem;
  color: rgba(255, 255, 255, 0);
  font-size: 1rem;
}

body .swal2-close:hover {
  transform: none;
  opacity: 0.75;
  background: transparent
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
    center/1em auto no-repeat;
  color: rgba(255, 255, 255, 0);
}

body .swal2-html-container {
  margin: 0 0.9375rem 0.9375rem 0.9375rem !important;
  color: rgba(0, 0, 0, 0.5) !important;
  font-size: 0.875rem !important;
}

body .swal2-html-container .form-check-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.9375rem;
}

body .swal2-html-container .form-check-input {
  margin-top: 0;
  margin-right: 0.625rem;
  background-color: #eee;
  font-size: 1rem;
}

body .swal2-html-container .form-check-input:checked {
  background-color: #0088ff;
}

body .swal2-actions {
  margin: 0.9375rem;
}

body .swal2-actions button:not(:last-of-type) {
  margin-right: 0.625rem;
}

body .swal2-styled {
  margin: 0;
}

body .swal2-styled.swal2-confirm {
  flex: 1;
  border-radius: 0.3125rem;
  background-color: #0088ff;
  min-width: 0;
}

body .swal2-styled.swal2-cancel {
  flex: 1;
  border-radius: 0.3125rem;
  background-color: #c7c7c7;
  min-width: 0;
}
