@import url("Pretendard-1.3.3/pretendard.css");
@font-face {
  font-family: "Jalnan";
  src: url("./Jalnan2/Jalnan2TTF.ttf") format("truetype"),
    url("./Jalnan2/fonts/Jalnan2.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --font-family: "Pretendard";
}
* {
  font-family: var(--font-family);
}
